<style>
     ul {
        list-style: none;
    }

    a:link,
    a:visited {
        text-decoration: none;
    }
    .heading-pri {
        font-size: 32px;
        font-weight: bold;
        text-transform: capitalize;
        color: #010101;
        margin: 0 0 25px 0;
    }

    .heading-sec {
        font-size: 20px;
        color: #313841;
        margin: 0 0 25px 0;
    }

    .footer {
        padding: 100px 0 140px;
        background-color: #010101;
    }

    .footer .heading-pri {
        color: #fcdb00;
        font-weight: 400;
    }

    .footer .heading-sec {
        color: #898989;
        margin-bottom: 45px;
    }

    .footer-heading {
        margin-bottom: 130px;
        padding: 0 35px;
    }

    .contactForm {
        margin-bottom: 80px;
    }

    .submit {
        background-color: #fcdb00;
        text-transform: uppercase;
        font-weight: bold;
    }

    .social-links li {
        display: inline-block;
        margin: 0 15px;
    }

    .social-links li i {
        color: #fcdb00;
        font-size: 42px;
    }

    .footer-links li,
    .footer-links li a {
        color: #fff;
        text-transform: capitalize;
    }
</style>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 text-center">
                <div class="footer-heading">
                    <h3 class="heading-pri">
                        Keep in touch with us
                    </h3>
                    <h4 class="heading-sec">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
                    </h4>
                    <div class="contactForm">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <input type="text" name="" id="email" placeholder="Enter your email to update" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn submit btn-block">
                                    submit
                                </button>
                            </div>
                        </div>
                    </div>
                    <ul class="social-links">
                        <li>
                            <a href="javascript:;">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fab fa-google-plus-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fab fa-pinterest-square"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <ul class="footer-links mob-response">
                    <li>HALOVIETNAM LTD</li>
                    <li>66, Dang Van ngu, Dong Da</li>
                    <li>Hanoi, Vietnam</li>
                    <li><a href="mailto:contact@halovietnam.com">contact@halovietnam.com</a></li>
                    <li><a href="tel:844 35149182">+844 35149182</a></li>
                </ul>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3 col-md-offset-1">
                <ul class="footer-links">
                    <li>Example</li>
                    <li>Shop</li>
                    <li>Licence</li>
                </ul>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3 col-md-offset-1">
                <ul class="footer-links">
                    <li>contact</li>
                    <li>About</li>
                    <li>Privacy</li>
                    <li>Terms</li>
                </ul>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3 col-md-offset-1">
                <ul class="footer-links">
                    <li>Download</li>
                    <li>Support</li>
                    <li>Documents</li>
                </ul>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3 col-md-offset-1">
                <ul class="footer-links">
                    <li>Media</li>
                    <li>Blog</li>
                    <li>Forums</li>
                </ul>
            </div>
        </div>
    </div>
</footer>