<style>
    .heading-pri {
        font-size: 32px;
        font-weight: bold;
        text-transform: capitalize;
        color: #010101;
        margin: 0 0 25px 0;
    }

    .heading-sec {
        font-size: 20px;
        color: #313841;
        margin: 0 0 25px 0;
    }

    .features {
        padding: 120px 0 70px;
    }

    .features-heading {
        margin-bottom: 90px;
        padding: 0 35px;
    }

    .myThumbnails {
        margin-bottom: 90px;
    }

    .thumb-icon {
        text-align: center;
    }

    .thumb-icon i {
        font-size: 50px;
        text-align: center;
        color: #010101;
    }

    .thumb-info {
        padding-right: 35px;
    }

    .thumb-info h4 {
        font-size: 22px;
        /* font-weight: bold; */
        color: #010101;
        text-transform: capitalize;
    }
</style>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 text-center">
                <div class="features-heading">
                    <h3 class="heading-pri">
                        Tinyone Features
                    </h3>
                    <h4 class="heading-sec">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus
                        tristique bibendum. Donec rutrum sed sem quis venenatis.
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="myThumbnails">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="thumb-icon text-center">
                                <a href="javascript:;">
                                    <i class="fab fa-squarespace"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumb-info">
                                <h4>
                                    Fully Responsive
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget
                                    tellus tristique bibendum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="myThumbnails">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="thumb-icon">
                                <a href="javascript:;">
                                    <i class="far fa-lemon"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumb-info">
                                <h4>
                                    Fully Layered PSD
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget
                                    tellus tristique bibendum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="myThumbnails">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="thumb-icon">
                                <a href="javascript:;">
                                    <i class="far fa-folder"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumb-info">
                                <h4>
                                    Font awesome icon
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget
                                    tellus tristique bibendum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="myThumbnails">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="thumb-icon">
                                <a href="javascript:;">
                                    <i class="fas fa-code"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumb-info">
                                <h4>
                                    HTML5 & CSS3
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget
                                    tellus tristique bibendum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="myThumbnails">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="thumb-icon">
                                <a href="javascript:;">
                                    <i class="far fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumb-info">
                                <h4>
                                    Email Template
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget
                                    tellus tristique bibendum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="myThumbnails">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="thumb-icon">
                                <a href="javascript:;">
                                    <i class="far fa-bookmark"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="thumb-info">
                                <h4>
                                    Free to download
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget
                                    tellus tristique bibendum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>